VITE_API_URL=http://localhost:5003/api
VITE_HRMS_API_ROOT=http://localhost:5003
VITE_SSO_API_ROOT=https://gaccess.gitakshmi.com
VITE_SSO_LOGIN_URL=https://devgaccess.gitakshmi.com/login
VITE_SSO_BYPASS=true
VITE_DEV_PORT=5176
BACKEND_URL=http://localhost:5003
